<div class="container">
  <div class="wrapper_content">
    <section class="beer__form">
      <button (click)="goBack()">Voltar</button>
      <h1 class="title">Cadastrar uma nova cerveja</h1>
      <!--#beerForm="ngForm" (ngSubmit)="save(beerForm)"-->

      <form method="post" #frm="ngForm">
        <div class="form-group">
          <label for="">Nome da Cerveja</label><br>
          <input class="form-control" placeholder="Nome da cerveja" type="text">
        </div>

        <div class="form-group">
          <label for="">Descrição da Cerveja</label><br>
          <input class="form-control" placeholder="Descrição da cerveja" required type="text">
        </div>

        <div class="form-group">
          <label for="">Dicas de Harmonização</label><br>
          <input class="form-control" placeholder="Dicas de Harmonização" required type="text">
        </div>

        <div class="form-group">
          <label for="">Cor da Cerveja</label><br>
          <input class="form-control" placeholder="Cor da cerveja" required type="text">
        </div>

        <div class="form-group">
          <label for="">Teor do alcoólico</label><br>
          <input class="form-control" placeholder="0" required type="number">
        </div>

        <div class="form-group">
          <label for="">Temperatura</label><br>
          <input class="form-control" placeholder="0" required type="number">
        </div>

        <div class="form-group temp">
          <label for="">Imagem da Cerveja</label><br>
          <input class="form-control" placeholder="0" required type="file">
        </div>
        <button type="submit">Salvar</button>
      </form>
    </section>
  </div>
</div>

