<div class="container" *ngIf="beer">
  <ul class="methods">
    <li><a routerLink="/cervejas/{{ beer.id }}/{{ beer.beer_name }}">Voltar</a></li>
    <li><a href="">Novo Ingrediente</a></li>
  </ul>
  <div class="wrapper_content">
    <section class="beer__form">
      <h1 class="title">Editar</h1>

      <form>
        <div class="form-group">
          <label for="">Nome da Cerveja</label><br>
          <input class="form-control"
                 required
                 [(ngModel)]="beer.beer_name" name="beer_name" type="text">
        </div>

        <div class="form-group">
          <label for="">Descrição</label><br>
          <input class="form-control description_text"
                 required
                 [(ngModel)]="beer.description" name="description" type="text">
        </div>

        <div class="form-group">
          <label for="">Dicas de Harmonização</label><br>
          <input class="form-control"
                 required
                 [(ngModel)]="beer.harmonization" name="harmonization" type="text">
        </div>

        <div class="form-group">
          <label for="">Cor da Cerveja</label><br>
          <input class="form-control"
                 required
                 [(ngModel)]="beer.color" name="color" type="text">
        </div>

        <div class="form-group">
          <label for="">Teor do alcoólico</label><br>
          <input class="form-control"
                 required
                 [(ngModel)]="beer.alcohol" name="alcohol" type="text">
        </div>

        <div class="form-group">
          <label for="">Temperatura</label><br>
          <input class="form-control"
                 required
                 [(ngModel)]="beer.temperature" name="temperature" type="text">
        </div>

        <div class="form-group" *ngFor="let ingredient of beer.ingredients">
          <label for="">Ingrediente</label><br>
          <input class="form-control"
                 required
                 [(ngModel)]="ingredient['ingredient_name']" name="{{ ingredient['ingredient_name'] }}">


          <a class="edit_ingredient" href="">Editar</a>
          <a class="delete_ingredient"
             routerLink="/cervejas/edit/{{ beer.id }}/{{ beer.beer_name }}" title="Deletar ingrediente"
          (click)="deleteIngredient(ingredient).load()" >x</a>
        </div>

        <div class="form-group">
          <label for="">Imagem da Cerveja</label><br>
          <input class="form-control" placeholder="0" type="file">
        </div>

        <button class="submit" type="submit">Enviar</button>
        <!--#beerForm="ngForm" (ngSubmit)="save(beerForm)"-->
      </form>
    </section>

    <section class="ingredient__form" >
      <h1 class="title">Adicionar ingrediente</h1>

      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">Nome do Ingrediente</label><br>
          <input class="form-control" required type="text">
        </div>
        <div>
          <label for="">Id da Cerveja</label>
          <p>{{ beer.id }}</p>
        </div>

        <button class="submit"  type="submit">Enviar</button>
        <!--#beerForm="ngForm" (ngSubmit)="save(beerForm)"-->
      </form>
    </section>
  </div>
</div>

