<div class="container">
  <ul class="breadcrumb">
    <li><a routerLink="/cervejas">Home</a></li>
    <li><a routerLink="/cervejas">Marcas</a></li>
    <li><a routerLink="/cervejas" class="active">Cervejas</a></li>
  </ul>
  <div class="wrapper_content">
    <div class="products__catalog">
      <ul class="products__list">
        <li *ngFor="let beer of beers">
          <a routerLink="/cervejas/{{ beer.id }}/{{ beer.beer_name }}" title="{{ beer.beer_name | uppercase}}">
            <img class="product__logo" src="../assets/images/Cerveja_Adriatica-1.jpg" alt="logo cerveja {{ beer.beer_name}}">
          </a>
          <button class="delete" title="Deletar cerveja" (click)="deleteBeer(beer).load()">
            x
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
