<div class="container">
  <ul class="breadcrumb">
    <li><a routerLink="/cervejas">Home</a></li>
    <li><a routerLink="/cervejas">Marcas</a></li>
    <li><a routerLink="/cervejas" class="active">Cervejas</a></li>
  </ul>
  <div class="wrapper_content">
    <div class="products__catalog">
      <ul class="products__list">
        <li *ngFor="let beer of beers">
          <a routerLink="/cervejas/{{ beer.id }}/{{ beer.beer_name }}" title="{{ beer.beer_name | uppercase}}">
            <img class="product__image" src="../assets/images/Adriatica.jpg" alt="logo cerveja {{ beer.beer_name}}">
          </a>
          <button class="delete" title="Deletar cerveja" (click)="deleteBeer(beer).load()">x</button>
          <!--<ul>
            <li>
              <a routerLink="/cervejas" title="Deletar Cerveja" (click)="deleteBeer(beer)">x</a>
            </li>
          </ul>-->
        </li>
      </ul>
    </div>
  </div>
</div>
